RUST_LOG=warn,knct_sharepoint=debug,hyper_denpa_discord=debug
DISCORD_TOKEN=...
SHAREPOINT_DOC_URL=https://example.sharepoint.com/:x:/r/sites/example/_layouts/15/Doc.aspx?sourcedoc=%7B00000000-0000-0000-0000-000000000000%7D&file=henkou.xlsx
SHAREPOINT_FEDAUTH=...
SHAREPOINT_RTFA=...
# SHAREPOINT_COOKIE_HEADER="FedAuth=...; rtFa=..."
# SHAREPOINT_SITE_URL=https://example.sharepoint.com/sites/example
# SHAREPOINT_ITEM_ID=00000000-0000-0000-0000-000000000000
